In [149]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [150]:
data=pd.read_csv('zomato.csv',encoding='latin-1')
#scikit meme

In [151]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [152]:
data.shape

(9551, 21)

In [153]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [154]:
#average cost for two is the y value

In [155]:
data.drop(columns=['Restaurant ID','Is delivering now','Switch to order menu','Rating color','Rating text'],inplace=True)

In [156]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [157]:
data['Restaurant Name'].value_counts()

Cafe Coffee Day                        83
Domino's Pizza                         79
Subway                                 63
Green Chick Chop                       51
McDonald's                             48
Keventers                              34
Pizza Hut                              30
Giani                                  29
Baskin Robbins                         28
Barbeque Nation                        26
Dunkin' Donuts                         22
Giani's                                22
Barista                                22
Pind Balluchi                          20
Costa Coffee                           20
Sagar Ratna                            19
Twenty Four Seven                      19
Pizza Hut Delivery                     19
Wah Ji Wah                             19
Chaayos                                18
Republic of Chicken                    18
KFC                                    18
Starbucks                              18
Haldiram's                             16
Burger King                            16
Shree Rathnam                          15
Frontier                               14
Aggarwal Sweets                        14
Moti Mahal Delux                       14
Bikanervala                            14
                                       ..
Hans's Planet-F                         1
Shree Ram Sweet Centre                  1
Smokin Gold BBQ                         1
Desi Villa                              1
Al-Sameer                               1
Veloso                                  1
Ahuja Milk Bhandar                      1
Tiffin Man House                        1
Mandarin Trail                          1
Bandhani Fast Food                      1
Dilli Chaap Wale                        1
The Latitude - Radisson Blu             1
Khalsa Dhaba                            1
Sapna Restaurant                        1
Chennai Express Greens                  1
Lanche                                  1
t Lounge by Dilmah                      1
Chinese Sigdi                           1
High Street Kitchen & Bar               1
Roll Junction                           1
Mainland China Restaurant               1
NamlÃ›Â± Gurme                            1
Quote - The Eclectic Bar and Lounge     1
Om Bikaner Wale                         1
Le ROFL                                 1
Nueva                                   1
Take N Taste                            1
King Bar & Restaurant                   1
The Tamarind Tree                       1
Kalka Ji Rasoi                          1
Name: Restaurant Name, Length: 7446, dtype: int64

In [158]:
data=data[data['Country Code']==1]

In [159]:
data['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Guwahati          21
Lucknow           21
Bhubaneshwar      21
Ahmedabad         21
Amritsar          21
Patna             20
Kolkata           20
Vadodara          20
Jaipur            20
Nagpur            20
Ranchi            20
Mysore            20
Coimbatore        20
Aurangabad        20
Varanasi          20
Goa               20
Pune              20
Agra              20
Indore            20
Bhopal            20
Chennai           20
Allahabad         20
Nashik            20
Mangalore         20
Kochi             20
Ludhiana          20
Dehradun          20
Surat             20
Kanpur            20
Puducherry        20
Mumbai            20
Bangalore         20
Vizag             20
Chandigarh        18
Hyderabad         18
Secunderabad       2
Mohali             1
Panchkula          1
Name: City, dtype: int64

In [160]:
data=data[data['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])]

In [161]:
data.shape

(7922, 16)

In [162]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [163]:
data.drop(columns=['Restaurant Name','Country Code','Locality','Locality Verbose','Currency'],inplace=True)

In [164]:
data.columns

Index(['City', 'Address', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Has Table booking', 'Has Online delivery',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [165]:
data.drop(columns=['Address'],inplace=True)

In [166]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [167]:
data['Has Online delivery'].replace({'Yes':1,'No':0},inplace=True)

In [168]:
data['Has Table booking'].replace({'Yes':1,'No':0},inplace=True)

In [169]:
data.shape

(7922, 10)

In [170]:
data.corr()

,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
Longitude,1.000000,0.997829,0.071752,0.059417,0.138671,0.083845,0.224523,0.071641
Latitude,0.997829,1.000000,0.070993,0.059974,0.138488,0.083131,0.224383,0.071598
Average Cost for two,0.071752,0.070993,1.000000,0.642966,0.076953,0.847985,0.328440,0.299089
Has Table booking,0.059417,0.059974,0.642966,1.000000,0.074300,0.658627,0.248363,0.223811
Has Online delivery,0.138671,0.138488,0.076953,0.074300,1.000000,0.188798,0.341197,0.123734
Price range,0.083845,0.083131,0.847985,0.658627,0.188798,1.000000,0.370212,0.325602
Aggregate rating,0.224523,0.224383,0.328440,0.248363,0.341197,0.370212,1.000000,0.291076
Votes,0.071641,0.071598,0.299089,0.223811,0.123734,0.325602,0.291076,1.000000

In [171]:
data.corr()['Average Cost for two']

Longitude               0.071752
Latitude                0.070993
Average Cost for two    1.000000
Has Table booking       0.642966
Has Online delivery     0.076953
Price range             0.847985
Aggregate rating        0.328440
Votes                   0.299089
Name: Average Cost for two, dtype: float64

In [172]:
data.drop(columns=['Has Online delivery','Price range'],inplace=True)

In [173]:
data.shape

(7922, 8)

In [174]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7922 entries, 865 to 9112
Data columns (total 8 columns):
City                    7922 non-null object
Longitude               7922 non-null float64
Latitude                7922 non-null float64
Cuisines                7922 non-null object
Average Cost for two    7922 non-null int64
Has Table booking       7922 non-null int64
Aggregate rating        7922 non-null float64
Votes                   7922 non-null int64
dtypes: float64(3), int64(3), object(2)
memory usage: 557.0+ KB

In [175]:
#one hot encoding => deletion of the last column after label encoding

In [176]:
#label encoding first => conversion of strings to 0 and 1

In [177]:
data['Cuisines'].value_counts()

North Indian                                                901
North Indian, Chinese                                       474
Fast Food                                                   330
Chinese                                                     323
North Indian, Mughlai                                       313
Cafe                                                        251
Bakery                                                      212
North Indian, Mughlai, Chinese                              194
Bakery, Desserts                                            168
Street Food                                                 145
Pizza, Fast Food                                            126
Chinese, Fast Food                                          117
Mithai, Street Food                                         116
Bakery, Fast Food                                           107
South Indian                                                103
Chinese, North Indian                                        99
Mughlai                                                      99
Ice Cream, Desserts                                          81
Ice Cream                                                    72
Mithai                                                       70
North Indian, Chinese, Mughlai                               68
North Indian, Chinese, Fast Food                             66
North Indian, Fast Food                                      66
American, Fast Food, Salad, Healthy Food                     62
Bakery, Desserts, Fast Food                                  62
Mughlai, North Indian                                        57
Biryani                                                      54
North Indian, Chinese, Continental                           52
Beverages                                                    52
Fast Food, Burger                                            52
                                                           ...
Cafe, Tibetan                                                 1
Ice Cream, Desserts, Fast Food                                1
Chinese, Thai, Continental, Fast Food, North Indian           1
Fast Food, Italian, Beverages                                 1
Continental, North Indian, European, Asian                    1
North Indian, Chinese, Fast Food, Desserts                    1
North Indian, Mughlai, Lebanese                               1
Continental, Chinese, North Indian, Indian                    1
British, Chinese, Italian                                     1
Lucknowi, Mughlai, North Indian                               1
American, Continental, Italian, North Indian, Asian           1
Chinese, Indian                                               1
Continental, Italian, Pizza, Asian                            1
South Indian, North Indian, Street Food, Chinese, Mithai      1
Mithai, Bakery, Street Food                                   1
Cafe, Continental, Italian, Pizza                             1
Italian, Mexican, Cafe                                        1
Continental, American, Fast Food                              1
Italian, Continental, Cafe                                    1
Greek, Mediterranean                                          1
Continental, Italian, North Indian, Chinese, Lebanese         1
North Indian, Indian                                          1
Fast Food, Pizza, Burger                                      1
South Indian, Nepalese                                        1
Chinese, Continental, North Indian, Mexican                   1
Japanese, Tibetan, Vietnamese, Korean                         1
Chinese, Italian, Continental                                 1
Turkish, Arabian, Moroccan, Lebanese                          1
South Indian, Fast Food, North Indian, Chinese                1
Continental, Cafe                                             1
Name: Cuisines, Length: 1156, dtype: int64

In [178]:
a=data.groupby('Cuisines')['Average Cost for two'].mean().sort_values(ascending=False).reset_index()

In [179]:
data=data.merge(a, on='Cuisines')

In [180]:
data.drop(columns=['Cuisines'],inplace=True)

In [181]:
data.head()

,City,Longitude,Latitude,Average Cost for two_x,Has Table booking,Aggregate rating,Votes,Average Cost for two_y
0,Faridabad,77.306640,28.490059,250,0,2.9,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,0.0,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,2.8,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,0.0,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,0.0,0,594.303797

In [182]:
data.rename(columns={'Average Cost for two_x':'cost','Average Cost for two_y':'cuisine'},inplace=True)

In [184]:
data.head()

,City,Longitude,Latitude,cost,Has Table booking,Aggregate rating,Votes,cuisine
0,Faridabad,77.306640,28.490059,250,0,2.9,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,0.0,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,2.8,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,0.0,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,0.0,0,594.303797

In [185]:
data.corr()['cost']

Longitude            0.071752
Latitude             0.070993
cost                 1.000000
Has Table booking    0.642966
Aggregate rating     0.328440
Votes                0.299089
cuisine              0.808274
Name: cost, dtype: float64

In [186]:
y=data.iloc[:,3].values
y

array([ 250,  500,  500, ...,  450, 1000,  450], dtype=int64)

In [187]:
y.shape

(7922,)

In [189]:
X=data.drop(columns=['cost']).iloc[:,:].values

In [191]:
X.shape

(7922, 7)

In [192]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [193]:
X[:,0]=encoder.fit_transform(X[:,0])

In [194]:
X[:,0]

array([0, 2, 0, ..., 3, 3, 3], dtype=object)

In [195]:
X.shape

(7922, 7)

In [198]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(categorical_features=[0])

In [199]:
X=encoder.fit_transform(X).toarray()

C:\Users\ujjainee\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\ujjainee\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [200]:
X.shape

(7922, 10)

In [201]:
X[:,0:4]

array([[1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       ...,
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.]])

In [202]:
X=X[:,1:]

In [203]:
X.shape

(7922, 9)

In [204]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2,random_state=7)

In [205]:
from sklearn.linear_model import LinearRegression
regressor1=LinearRegression()

In [206]:
regressor1.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [207]:
from sklearn.metrics import r2_score

In [208]:
y_pred=regressor1.predict(X_test)

In [209]:
r2_score(y_test,y_pred)*100

69.45487835658287